---
---

@import "{{ site.theme }}";

header {
  position: relative;
  width: 100%;
  float: top;
}

section {
  width: 100%;
  float: none;
}

footer {
  position: relative;
  width: 100%;
  float: bottom;
}
